body {
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

.encabezado {
    text-align: right;
    font-style: italic;
}

.t1 {
    font-size: 22px;
}

.t2 {
    font-size: 26px;
}

.t3 {
    font-size: 17px;
}

.membrete {
    border-bottom: 2px solid black; /* Línea negra separadora */
    padding: 10px;
    width: 100%;
}

.logoJaveriana {
    width: 130px; /* Ancho máximo de los logos */
    height: auto;
}

.cdio {
    width: 170px; /* Ancho máximo de los logos */
    height: auto;
}

.titulo-y-estudiantes {
    text-align: center;
    margin: 0 20px; /* Margen entre los elementos */
}

.titulo {
    margin-bottom: 10px; /* Espacio entre el título y los estudiantes */
    font-size: 24px;
}

.estudiantes {
    text-align: center;
}

.integrante, .lider {
    margin-top: 30px;
    margin-bottom: 20px;
}

.tablaMembrete{
    width: 100%;
}


/* Estilos adicionales para el resto del documento */
.habilidades {
    font-style: italic;
}

.cont_categoria {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px; /* Desplaza el contenedor hacia la izquierda */
}

.pregunta {
    margin-top: 0px;
}

.cont_tabla {
    text-align: center;
    margin-bottom: 50px;
}

.tablaliderazgo {
    width: 550px; 
    height: auto;
}

.tabla {
    min-width: 40%;
    max-width: 75%; /* la tabla desde el 40% del contenedor al 75% */
    border-collapse: collapse;
    table-layout: fixed; /* Fijar el ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla */
}

.tabla th, .tabla td {
    border: 1px solid black;
    padding: 8px;
    font-weight: normal; /* Quitar la negrita */
    font-size: 17px; /* Tamaño de fuente */
    font-family: 'Times New Roman', Times, serif; /* Familia de fuente */
    width: 50%; /* Ancho igual para ambas columnas */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    word-wrap: break-word; /* Dividir palabras largas */
}

.especial_tabla th, .especial_tabla td {
    border: 1px solid black;
    padding: 8px;
    font-weight: normal; /* Quitar la negrita */
    font-size: 17px; /* Tamaño de fuente */
    font-family: 'Times New Roman', Times, serif; /* Familia de fuente */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    word-wrap: break-word; /* Dividir palabras largas */
}

.especial_tabla {
    width: 40%;
    border-collapse: collapse;
    table-layout: fixed; /* Fijar el ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla */
}

.tablaDef {
    margin-top: 50px;
    width: 20%;
    border-collapse: collapse;
    margin: 0 auto; /* Centrar la tabla */
}

.grafico {
    width: 750px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.graficoUno {
    width: 730px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.salto2{
    margin-bottom: 300px;
}

.highlight-green {
    background-color: #4db35e; /* Verde claro */
}
